* {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    background-color: rgb(15, 15, 15 );
    color: #fff;
}

footer{
    background-color: rgb(0, 0, 0);


}
/* NAVBAR */

.line {
    border-right: 2px solid rgba(255, 255, 255, 0.753);
    font-family: 'Special Elite', monospace;
    font-size: 2em;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    background-color: #000000;
}

.typing-animation {
    animation: blinkCursor 500ms infinite normal, typing 4s steps(25) 1s normal both;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 14.4em;
    }
}
@keyframes blinkCursor {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
        border-right-color: transparent;
    }
}

#navimg {
    position: relative;
    width: 100%;
    height: 80vh;
    background: url('../img/background.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    
}
#logo img {
    height: 140px;
    border-top: solid 5px #7135b6;
    border-bottom: solid 5px #7135b6;
}
#navbar {
    position: sticky;
    top: 0;
    padding: .2em .5em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    border: 1px solid #7135b6;
}
#navbar ul {
    display: flex;
    list-style: none;
    padding-right: 2em; 
    background-color: rgb(0, 0, 0);
    
}
#navbar p {
    text-decoration: none;
    display: flex;
}
#navbar ul li {
    margin-left: 1em;

}

#navbar ul li a {
    text-decoration: none;
    transition: .4s;
    font-weight: bold;
    border-radius: 3px;
    padding: 10px;
    background-color: #7135b6;
    border: 1px solid transparent;
}

#navbar ul li a:hover {
    color: #7135b6;
    background-color: rgb(24, 20, 20);
    border: 1px solid #7135b6;
}

/* CONTAINER */
.container {
    min-height: 60vh;
    padding: 2em;
}

/* MESSAGES */
.message {
    padding: 1em;
    color: #000000;
    background-color: #c3a6e9;
    border: 3px solid #7c0f7c;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto 2em;
    max-width: 60%;
}
/* LOGIN E REGISTER */
.auth-container {
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}

.auth-container h2 {
    margin-bottom: 1em;
    color: #fff;
    border-left: 8px solid #7135b6;
    padding: .3em;
    width: 100px;
}

.auth-container a {
    color: #7135b6;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-control label {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.form-control input,
.form-control textarea {
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #7135b6;
}

form input[type='submit'],
.btn {
    background-color: transparent;
    color: #7135b6;
    border: 2px solid #7135b6;
    padding: .5em 1.2em;
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: .5;
}

form input[type='submit']:hover,
.btn:hover {
    background-color: #7135b6;
    color: #fff;
}

/* Create / edit form */

.tought-form-container a {
    color: #7135b6;
}

.tought-form-container a:hover {
color: #fff;
}

.tought-form-container h1 {
    margin: 1em 0;
    color: #fff;
    border-left: 4px solid #7135b6;
    padding: .3em;

}

.tought-form-container form {
    max-width: 30%;
    margin-top: 1.5em;
}

/* Dashboard */
.title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
}
#dashboardTitle {
    border-bottom: 2px solid #000000;
    font-size: 20px;
    font-weight: 200;
}
.title-container h2 {
    border-left: 4px solid #7135b6;
    padding: 10px;
}
.dashboard h3 {
 list-style: none;
}
.dashboard li {
    padding: 12px;
    border-bottom: 1px solid #7135b6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard .label {
    font-weight: bold;
    color: #7135b6;
}

.dashboard .actions {
    display: flex;
}

.dashboard .actions .btn {
    color: #fff;
    border-color: #fff;
    margin: 0 0.5em;
}
.dashboard a {
    color: #7135b6;
}


/* Home */
.home-header {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
}
.home-header h1 {
    margin-bottom: 1em;

}.home-header span {
    color: #7135b6;
}
.home header p,
.home-header form {
    margin-bottom: 1.2em;
}

.home-header input {
    border: none;
    border-bottom: 1px solid #fff;
    padding: 0.5em;
    margin-right: 1em;
}

.home-header input[type='text'] {
    width: 60%;
}

.home-header input::placeholder {
    color: #fff;
}

.order-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 0 auto 1em;
}

.order-container span {
    font-weight: bold;
    color: #fff;
}
.order-container form {
    margin: 0;
}

.order-container button {
    margin-bottom: 0;
    border: none;
    cursor: pointer;
}

.order-container button:hover,
.order-container i:hover,
.order-container a:hover {
    color: #7135b6;
}

.order-container button,
.order-container i,
.order-container a {
    margin: 0 10px;
}

.toughts-container figure {
    border-bottom: 1px solid #333;
    padding: 0.5em;
    max-width: 50%;
    margin: 0 auto 1em;
}

.toughts-container blockquote {
    font-style: italic;
    font-size: 2em;
    margin-bottom: .4em;
}

.toughts-container span {
    color: #7135b6;
}




/* FOOTER */
footer {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #7135b6;
}

footer span {
    font-weight: bold;
    color: #7135b6;
}

