<div class="auth-container">
    <h2>Contato</h2>
    <form action="contact" method="POST">
        <div class="form-control">
            <label for="title">Titulo</label>
            <input type="text" name="title" placeholder="Digite o tema do assunto..." required>
        </div> 
        <div class="form-control">
            <label for="subject">Assunto</label>
            <input type="text" name="subject" placeholder="Conte o que deseja nos informar..." required>
        </div>
        <input type="submit" value="Enviar"> 
    </form>
</div>
